@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    font-weight: 900;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.main {
    position: absolute;
    width: 100%;
    /* height: 100%; */
}
.banner{
    overflow: hidden;
    height: 100vh;
    /* background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%); */
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
}
.nav-bar{
    position: relative;
    height: 83px;
    display: flex;
    align-items: center;
}
.nav-bar .logo-Section{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-bar .logo{
    color: black;
    padding: 15px ;
    position: relative;
}
.nav-bar .logo::after{
 content: '';
 position: absolute;
 left: 0;
 bottom: 18px;
 /* top: 50%; */
 /* transform: translateY(-50%); */
 height: 2px;
 width: 0;
 background-color: brown;
 transition: all 0.3s linear;
}
.nav-bar .logo:hover::after{
    width: 100%;
}
.nav-bar .logo span{
    color: aqua;

}
.nav-menu{
    width: 72%;
    margin: 0 auto;
}
.nav-menu a {
    padding: 20px;
    color: brown;
    font-family: 'Nunito Sans', sans-serif;
}
.nav-menu a:nth-child(-n+2){
    float: left;

}
.nav-menu a:nth-child(n+3){
    float: right;
}
/* .content{
    transform: translate(500px,250px); 
} */
.content h2{
    text-transform: uppercase;
    font-size: 86px;
    color:cadetblue;
}
.content p{
    text-transform: capitalize;
    font-size: 22px ;
    text-align: center;
    font-style: italic;
    color: cadetblue;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.nav-menu a:nth-child(1){
    margin-left: 138px;
}